html {
	background: #30AACB;
}

body {
	font-family: 'Lato', sans-serif !important;
}

::moz-selection {
	color: white !important;
	background: #30AACB !important;
}

::selection {
	color: white !important;
	background: #30AACB !important;
}

.title {
	font-weight: bold !important;
}

.hidden {
	display: none;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
	background: #30AACB;
}